n8n-workflows/WF2-testimonial-form-handler.json
{
  "name": "WF2 — Testimonial Form Handler",
  "nodes": [
    {
      "id": "b1111111-1111-1111-1111-111111111111",
      "name": "Testimonial Form Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "parameters": {
        "httpMethod": "POST",
        "path": "wf2-testimonial-form",
        "responseMode": "onReceived",
        "responseCode": 200,
        "options": {}
      },
      "webhookId": "wf2-testimonial-form-00000001"
    },
    {
      "id": "b2222222-2222-2222-2222-222222222222",
      "name": "Parse Testimonial Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300],
      "parameters": {
        "jsCode": "// Accept body from webhook (POST body is in .body or top-level)\nconst body = $input.first().json.body || $input.first().json;\n\nconst firstName = (body.firstName || '').trim();\nconst lastName  = (body.lastName  || '').trim();\nconst email     = (body.email     || '').trim().toLowerCase();\nconst rating    = parseInt(body.rating) || 0;\nconst message   = (body.message   || '').trim();\nconst fullName  = [firstName, lastName].filter(Boolean).join(' ');\n\n// Validate required fields\nif (!firstName || !email || rating < 1 || rating > 5 || !message) {\n  throw new Error('WF2: Missing or invalid fields — requires firstName, email, rating (1–5), message');\n}\n\n// Escape single quotes for SQL embedding\nconst esc = (s) => (s || '').replace(/'/g, \"''\");\n\n// Star display for email\nconst stars = '\\u2605'.repeat(rating) + '\\u2606'.repeat(5 - rating);\n\n// --- Thank you email to the client ---\nconst clientHtml = [\n  '<div style=\"font-family:sans-serif;max-width:600px;margin:0 auto\">',\n  '<h2 style=\"color:#2D6A6A;margin-bottom:16px\">Thank You, ' + firstName + '!</h2>',\n  '<p style=\"line-height:1.7;color:#333\">Thank you for taking the time to share your experience with SoulSynergy Coaching. Your testimonial means the world!</p>',\n  '<p style=\"line-height:1.7;color:#333\">Your submission will appear on the website after a brief review. We are grateful for your trust and support on this journey.</p>',\n  '<p style=\"line-height:1.7;color:#333\">Warmly,<br><strong>Arushi Bhardwaj</strong><br>SoulSynergy Coaching</p>',\n  '<hr style=\"border:none;border-top:1px solid #eee;margin:24px 0\">',\n  '<p style=\"color:#999;font-size:12px\">SoulSynergy Coaching &mdash; Uncover. Align. Achieve.</p>',\n  '</div>'\n].join('');\n\n// --- Notification email to Arushi ---\nconst arushiHtml = [\n  '<div style=\"font-family:sans-serif;max-width:600px;margin:0 auto\">',\n  '<h2 style=\"color:#2D6A6A;margin-bottom:16px\">New Testimonial Submitted</h2>',\n  '<table style=\"border-collapse:collapse;width:100%;font-size:14px\">',\n  '<tr><td style=\"padding:12px;border:1px solid #ddd;background:#f5f5f5;width:120px\"><strong>Name</strong></td>',\n  '<td style=\"padding:12px;border:1px solid #ddd\">' + fullName + '</td></tr>',\n  '<tr><td style=\"padding:12px;border:1px solid #ddd;background:#f5f5f5\"><strong>Email</strong></td>',\n  '<td style=\"padding:12px;border:1px solid #ddd\"><a href=\"mailto:' + email + '\" style=\"color:#2D6A6A\">' + email + '</a></td></tr>',\n  '<tr><td style=\"padding:12px;border:1px solid #ddd;background:#f5f5f5\"><strong>Rating</strong></td>',\n  '<td style=\"padding:12px;border:1px solid #ddd\">' + stars + ' (' + rating + '/5)</td></tr>',\n  '<tr><td style=\"padding:12px;border:1px solid #ddd;background:#f5f5f5\"><strong>Testimonial</strong></td>',\n  '<td style=\"padding:12px;border:1px solid #ddd;white-space:pre-wrap\">' + message + '</td></tr>',\n  '</table>',\n  '<p style=\"font-size:14px;color:#555;margin-top:16px\">Review and publish via your admin portal when ready.</p>',\n  '<p style=\"color:#999;font-size:12px\">Saved to Neon DB automatically &mdash; <code>is_published = false</code> until you approve it.</p>',\n  '</div>'\n].join('');\n\nconst clientResendPayload = JSON.stringify({\n  from: 'SoulSynergy Coaching <onboarding@resend.dev>',\n  to: [email],\n  subject: 'Thank you for your testimonial, ' + firstName + '!',\n  html: clientHtml\n});\n\nconst arushiResendPayload = JSON.stringify({\n  from: 'SoulSynergy Coaching <onboarding@resend.dev>',\n  to: ['connect.sscoach@gmail.com'],\n  subject: '\\u2B50 New Testimonial: ' + fullName + ' \\u2014 ' + rating + '/5',\n  html: arushiHtml\n});\n\nreturn [{\n  json: {\n    // SQL-safe values (single quotes escaped)\n    first_name:            esc(firstName),\n    last_name:             esc(lastName),\n    email:                 esc(email),\n    message:               esc(message),\n    full_name:             esc(fullName),\n    rating:                rating,\n    // Raw values (for use in emails — not SQL)\n    raw_email:             email,\n    raw_full_name:         fullName,\n    raw_first_name:        firstName,\n    // Pre-built Resend payloads\n    client_resend_payload: clientResendPayload,\n    arushi_resend_payload: arushiResendPayload\n  }\n}];"
      }
    },
    {
      "id": "b3333333-3333-3333-3333-333333333333",
      "name": "Upsert Contact",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [680, 300],
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO contacts (tenant_id, first_name, last_name, email, type, referral_source, last_interaction)\nVALUES (1, '{{ $('Parse Testimonial Data').item.json.first_name }}', '{{ $('Parse Testimonial Data').item.json.last_name }}', '{{ $('Parse Testimonial Data').item.json.email }}', 'lead', 'testimonial_form', NOW())\nON CONFLICT (tenant_id, email) DO UPDATE SET last_interaction = NOW(), updated_at = NOW()\nRETURNING id, first_name, last_name, email, type"
      },
      "credentials": {
        "postgres": {
          "id": "T9eZRjBtW6TwPA3p",
          "name": "SoulSynergy Neon DB"
        }
      }
    },
    {
      "id": "b4444444-4444-4444-4444-444444444444",
      "name": "Write Testimonial",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [900, 300],
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO testimonials (tenant_id, contact_id, body, rating, is_published)\nVALUES (1, {{ $('Upsert Contact').item.json.id }}, '{{ $('Parse Testimonial Data').item.json.message }}', {{ $('Parse Testimonial Data').item.json.rating }}, false)\nRETURNING id"
      },
      "credentials": {
        "postgres": {
          "id": "T9eZRjBtW6TwPA3p",
          "name": "SoulSynergy Neon DB"
        }
      }
    },
    {
      "id": "b5555555-5555-5555-5555-555555555555",
      "name": "Log Interaction",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [1120, 300],
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO interactions (tenant_id, contact_id, direction, channel, subject, body, workflow_id)\nVALUES (1, {{ $('Upsert Contact').item.json.id }}, 'inbound', 'form', 'Testimonial Submission', '{{ $('Parse Testimonial Data').item.json.message }}', 'WF2')"
      },
      "credentials": {
        "postgres": {
          "id": "T9eZRjBtW6TwPA3p",
          "name": "SoulSynergy Neon DB"
        }
      }
    },
    {
      "id": "b6666666-6666-6666-6666-666666666666",
      "name": "Thank You Email to Client",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1340, 200],
      "parameters": {
        "method": "POST",
        "url": "https://api.resend.com/emails",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer re_7fm5JUf6_27NeuHnavv9zyv9woPkN1BxU"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $('Parse Testimonial Data').item.json.client_resend_payload }}",
        "options": {}
      }
    },
    {
      "id": "b7777777-7777-7777-7777-777777777777",
      "name": "Notify Arushi via Resend",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1340, 420],
      "parameters": {
        "method": "POST",
        "url": "https://api.resend.com/emails",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer re_7fm5JUf6_27NeuHnavv9zyv9woPkN1BxU"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $('Parse Testimonial Data').item.json.arushi_resend_payload }}",
        "options": {}
      }
    }
  ],
  "connections": {
    "Testimonial Form Webhook": {
      "main": [
        [{ "node": "Parse Testimonial Data", "type": "main", "index": 0 }]
      ]
    },
    "Parse Testimonial Data": {
      "main": [
        [{ "node": "Upsert Contact", "type": "main", "index": 0 }]
      ]
    },
    "Upsert Contact": {
      "main": [
        [{ "node": "Write Testimonial", "type": "main", "index": 0 }]
      ]
    },
    "Write Testimonial": {
      "main": [
        [{ "node": "Log Interaction", "type": "main", "index": 0 }]
      ]
    },
    "Log Interaction": {
      "main": [
        [
          { "node": "Thank You Email to Client", "type": "main", "index": 0 },
          { "node": "Notify Arushi via Resend",  "type": "main", "index": 0 }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "id": "wf2-testimonial-form-handler",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "local"
  },
  "tags": []
}
