n8n-workflows/WF5-post-session-thankyou.json
{
  "name": "WF5 — Post-Session Thank You",
  "nodes": [
    {
      "id": "f1111111-1111-1111-1111-111111111111",
      "name": "Daily 8pm Cron",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [240, 300],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 20 * * *"
            }
          ]
        }
      }
    },
    {
      "id": "f2222222-2222-2222-2222-222222222222",
      "name": "Query Completed Sessions Today",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [460, 300],
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  s.id AS session_id,\n  s.scheduled_at,\n  s.type AS session_type,\n  c.id AS contact_id,\n  c.first_name,\n  c.last_name,\n  c.email\nFROM sessions s\nJOIN contacts c ON c.id = s.contact_id\nWHERE s.tenant_id = 1\n  AND s.coach_id = 1\n  AND s.status = 'completed'\n  AND (s.scheduled_at AT TIME ZONE 'America/New_York')::date = (CURRENT_TIMESTAMP AT TIME ZONE 'America/New_York')::date"
      },
      "credentials": {
        "postgres": {
          "id": "T9eZRjBtW6TwPA3p",
          "name": "SoulSynergy Neon DB"
        }
      }
    },
    {
      "id": "f3333333-3333-3333-3333-333333333333",
      "name": "Session Found?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 300],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "f3-cond-1",
              "leftValue": "={{ $json.session_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "f4444444-4444-4444-4444-444444444444",
      "name": "Build Thank You Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300],
      "parameters": {
        "jsCode": "const items = $input.all();\n\nreturn items.map(item => {\n  const data = item.json;\n  const firstName   = (data.first_name || 'there').trim();\n  const email       = (data.email     || '').trim();\n  const sessionId   = data.session_id;\n  const contactId   = data.contact_id;\n  const scheduledAt = new Date(data.scheduled_at);\n\n  const dateStr = scheduledAt.toLocaleDateString('en-US', {\n    weekday: 'long', year: 'numeric', month: 'long', day: 'numeric',\n    timeZone: 'America/New_York'\n  });\n\n  const bookingUrl = 'https://soul-synergy-hub.pages.dev/book';\n\n  const html = [\n    '<div style=\"font-family:sans-serif;max-width:600px;margin:0 auto\">',\n    '<h2 style=\"color:#2D6A6A;margin-bottom:16px\">\\u2728 Thank You for Today\\'s Session</h2>',\n    '<p style=\"line-height:1.7;color:#333\">Hi ' + firstName + ',</p>',\n    '<p style=\"line-height:1.7;color:#333\">Thank you so much for showing up for yourself today. It was a genuine pleasure spending this time with you, and I\\'m inspired by your commitment to growth and clarity.</p>',\n    '<p style=\"line-height:1.7;color:#333\">As you reflect on our session from <strong>' + dateStr + '</strong>, I encourage you to:</p>',\n    '<ul style=\"color:#333;line-height:2.0;padding-left:20px\">',\n    '<li>Revisit any insights or action items you noted during our conversation</li>',\n    '<li>Be gentle with yourself as you put things into practice</li>',\n    '<li>Notice the small shifts — they matter more than you think</li>',\n    '</ul>',\n    '<p style=\"line-height:1.7;color:#333\">Whenever you feel ready to continue your journey, I\\'d love to support you further.</p>',\n    '<div style=\"text-align:center;margin:32px 0\">',\n    '<a href=\"' + bookingUrl + '\" style=\"background:#2D6A6A;color:#fff;text-decoration:none;padding:14px 28px;border-radius:6px;font-size:15px;font-weight:600;display:inline-block\">Book Your Next Session</a>',\n    '</div>',\n    '<p style=\"line-height:1.7;color:#333\">With gratitude,<br><strong>Arushi Bhardwaj</strong><br>SoulSynergy Coaching</p>',\n    '<hr style=\"border:none;border-top:1px solid #eee;margin:24px 0\">',\n    '<p style=\"color:#999;font-size:12px\">SoulSynergy Coaching &mdash; Uncover. Align. Achieve.</p>',\n    '</div>'\n  ].join('');\n\n  const resendPayload = JSON.stringify({\n    from: 'SoulSynergy Coaching <onboarding@resend.dev>',\n    to: [email],\n    subject: '\\u2728 Thank you for today\\'s session, ' + firstName,\n    html: html\n  });\n\n  return {\n    json: {\n      session_id:     sessionId,\n      contact_id:     contactId,\n      email:          email,\n      resend_payload: resendPayload\n    }\n  };\n});"
      }
    },
    {
      "id": "f5555555-5555-5555-5555-555555555555",
      "name": "Send Thank You via Resend",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 300],
      "parameters": {
        "method": "POST",
        "url": "https://api.resend.com/emails",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer re_7fm5JUf6_27NeuHnavv9zyv9woPkN1BxU"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $('Build Thank You Email').item.json.resend_payload }}",
        "options": {}
      }
    },
    {
      "id": "f6666666-6666-6666-6666-666666666666",
      "name": "Log Interaction",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [1340, 300],
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO interactions (tenant_id, contact_id, session_id, direction, channel, subject, body, workflow_id)\nVALUES (1, {{ $('Build Thank You Email').item.json.contact_id }}, {{ $('Build Thank You Email').item.json.session_id }}, 'outbound', 'email', 'Post-Session Thank You', 'Automated post-session thank you email sent', 'WF5')"
      },
      "credentials": {
        "postgres": {
          "id": "T9eZRjBtW6TwPA3p",
          "name": "SoulSynergy Neon DB"
        }
      }
    }
  ],
  "connections": {
    "Daily 8pm Cron": {
      "main": [
        [{ "node": "Query Completed Sessions Today", "type": "main", "index": 0 }]
      ]
    },
    "Query Completed Sessions Today": {
      "main": [
        [{ "node": "Session Found?", "type": "main", "index": 0 }]
      ]
    },
    "Session Found?": {
      "main": [
        [{ "node": "Build Thank You Email", "type": "main", "index": 0 }],
        []
      ]
    },
    "Build Thank You Email": {
      "main": [
        [{ "node": "Send Thank You via Resend", "type": "main", "index": 0 }]
      ]
    },
    "Send Thank You via Resend": {
      "main": [
        [{ "node": "Log Interaction", "type": "main", "index": 0 }]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "id": "wf5-post-session-thankyou",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "local"
  },
  "tags": []
}
